<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Sasha's Awesome Webpage</title>
</head>
<th>Create a new person</th>
<body>
<form action="#" th:action="@{/processCreate}" th:object="${person}" method="post">
    <div>
        PokedexNum
        <input type="text" th:field="*{pokedexNum}" />
    </div>
    <div>
        Name
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        Evolves To
        <input type="text" th:field="*{evolvesTo}" />
    </div>
    <div>
        Type1
        <input type="text" th:field="*{type1}" />
    </div>
    <div>
        Type2
        <input type="text" th:field="*{type2}" />
    </div>
    <div>
        Move1
        <input type="text" th:field="*{move1}" />
    </div>
    <div>
        Move2
        <input type="text" th:field="*{move2}" />
    </div>
    <div>
        Move3
        <input type="text" th:field="*{move3}" />
    </div>
    <div>
        Move4
        <input type="text" th:field="*{move4}" />
    </div>
    <div>
        Sprite
        <input type="text" th:field="*{sprite}" />
    </div>
    <input type="submit" />
</form>
</body>
</html>
